button {
  height: 100%;
  width: 100%;
  // justify-content: center;
}

.btn-default {
  color: black;
  background-color: rgb(134, 134, 233);
  height: 100px;
  margin: 2px;
}

.btn-change {
  color: white;
  background-color: rgb(108, 207, 253);
  height: 100px;
  margin: 2px;
}