button {
  height: 100%;
  width: 100%;
  // justify-content: center;
}

.btn-path {
  color: black;
  background-color: rgb(134, 134, 233);
  height: 80px;
  margin: 2px;
}

.btn-wall {
  color: white;
  background-color: rgb(108, 207, 253);
  height: 80px;
  margin: 2px;
}

.btn-start {
  color: white;
  background-color: orangered;
  height: 80px;
  margin: 2px;
}

.btn-end {
  color: white;
  background-color: rgb(58, 179, 74);
  height: 80px;
  margin: 2px;
}

.btn-checked {
  color: black;
  background-color: white;
  height: 80px;
  margin: 2px;
}

.btn-checked {
  color: black;
  background-color: white;
  height: 80px;
  margin: 2px;
}
.btn-solution {
  color: black;
  background-color: yellow;
  height: 80px;
  margin: 2px;
}