main {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
    // grid-gap: 3px 3px;
    grid-column-gap: 3px;
    grid-row-gap: 2px;
}