main {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    // grid-gap: 3px 3px;
    grid-column-gap: 3px;
    grid-row-gap: 2px;
}
.center-align {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
button {
    font-size: large;
    font-weight: 200;
}
#reset-button {
    color: white;
    background-color: rgb(134, 134, 233);
    border: 2px solid white;
    width: 165px;
    height:80px;
}
#reset-button:hover {
    cursor:pointer;
}
p {
    color: white;
    text-align: center;
    font-size: large;
}