main {
    display: grid;
    grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    grid-template-rows: 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    // grid-gap: 3px 3px;
    grid-column-gap: 3px;
    grid-row-gap: 2px;
}
.center-align {
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#reset-button {
    color: white;
    background-color: green;
    width: 165px;
    height:80px;
}